<app-common-header [title]="'首页'"></app-common-header>
<div class="page-content">
      <app-advert></app-advert>
  <div class="sectionlist" *ngFor="let item of sections;let i=index" >
    <div class="home-title">
      <span></span>
        <h2>{{item.name}}</h2>
    </div>
    <div class="book-section-list">
      <div *ngFor="let item of item.items"   [routerLink]="['/detail',  item.id]"> 
          <img src="{{item.image}}" alt="">
          <h4>{{item.name}}</h4>
      </div>
     
    </div>
  </div>
</div>
<app-common-nav></app-common-nav>
