<app-common-header [title]="'个人中心'"></app-common-header>
<div class="page-content">
    <div class="mine-container">
        <div class="mine-list">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <p>已登录</p>
                <span>></span>
        </div>
        <div class="mine-list">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <p>我的购物车</p>
            <span>></span>
        </div>
        <div class="mine-list">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            <p>我的订单</p>
            <span>></span>
        </div>
    </div>
    <div class="mine-container">
        <div class="mine-list">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <p>软件反馈</p>
            <span>></span>
        </div>
        <div class="mine-list">
            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            <p>关于我们</p>
            <span>></span>
        </div>
  </div>
  </div>
<app-common-nav></app-common-nav>