<div>
  <div class="page-nav">
    <div [routerLink]="[ '/home']" routerLinkActive="active"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</div>
    <div [routerLink]="[ '/list']" routerLinkActive="active"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>分类</div>
    <div [routerLink]="[ '/cart']" routerLinkActive="active"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>购物车</div>
    <div [routerLink]="[ '/mine']" routerLinkActive="active"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>我的</div>
</div>
</div>
