<app-common-header [title]="'购物车'"></app-common-header>
<div class="page-content padding-6">
        <div class="cart-book-list " *ngIf="state">
                <div class="cart-left">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                </div>
        <div class="cart-text">
        购物车是空的，你可以先
        </div>
        <div class="cart-right">
        <a class="look" [routerLink]="[ '/home']">逛逛</a> 
        </div>
        </div>
        <div class="cart-book-list" *ngIf="isExit">
                <div class="cart-left">
                        <input type="checkbox" value="">
                </div>
                <div class="cart-text">
                     <img src="" alt="">
                     <div class="text-info">
                                <h4></h4>
                                <p></p>
                                <p></p>
                     </div>
                </div>
                <div class="cart-right">
                 <span class="glyphicon glyphicon-trash  " aria-hidden="true"></span>
                                
                </div>
                </div>
            
</div>

<app-common-nav></app-common-nav>
